.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full{
	padding: 10px;
}

/* h1{
	background: yellow;
}
 */
.delete-form{
	display: inline;
}

/* Google Maps */
/* needs width and height to appear on screen */
#map {
    height: 400px;
    width: 100%;
}